<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
<table>
    <tr>
        <th>Country</th>
        <th>State</th>
        <th>Corona cases reported</th>
    </tr>
    <tr th:each="locationState : ${locationStates}">
        <td th:text="${locationState.country}"></td>
        <td th:text="${locationState.state}"></td>
        <td th:text="${locationState.latestTotalCases}"></td>
    </tr>
</table>

</body>

</html>